.screen-splash, .dummy-splash{
	height: 100%;
	width: 100%;
	background: #333;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1100000;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	.logo-container{
		margin-top: -50%;
	}
	.logo{
		width: 150px;
	}
	.bufferbar{
		background-color: #ccc;
		background-image: none;
	}
	.progressbar, .auxbar{
		background-color: rgb(255, 157, 50) !important;
		background-image: none !important;
	}
	dialog .mdl-button{
		width: 80px;
	}
	.mdl-button.mdl-js-button{
		font-size: 14px;
	}
	.btn-guest,.btn-google {
		.mdl-button{
			background: #ddd;
			text-transform: initial;
			margin-top: 16px;
		}
	}
	.btn-google .mdl-button{
		background: #fff;
	}
}


.loading{
    position: absolute;
    bottom: 5%;
    width: 80%;
    margin: auto;
    left: 0;
    right: 0;
	text-align: center;
	.mdl-progress{
		height: 3px;
	}
}

@media (min-width: 800px) {
	.screen-splash, .dummy-splash{
		.logo-container{
			margin-top: -10%;
		}
	}
}