.screen-splash{
	height: 100%;
	width: 100%;
	background: rgba(241,231,103,1);
	background: linear-gradient(135deg, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1100000;
	.logo{
		position: absolute;
		left: 0;
		right: 0;
		height: 50%;
		width: 50%;
		margin: auto;
		animation-name: bulbjump;
		animation-duration: 4s;
		animation-fill-mode: forwards;
		animation-iteration-count: infinite;
		animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
	}
}

@keyframes bulbjump{
	0% {transform: translateY(0px)}
  15% {transform: translateY(10px)}
	20% {transform: translateY(18px)}
	75% {transform: translateY(10px)}
	100% {transform: translateY(0px)}
}

.loading{
    position: absolute;
    bottom: 80px;
    width: 80%;
    margin: auto;
    left: 0;
    right: 0;
	.mdl-progress{
		height: 3px;
	}
} 