.control-imagechooser{
	display: inline-block;
	margin: 8px;
	position: relative;
	.img-thumb{
		display: inline-block;
		background-size: cover;
		height: 125px;
		width: 192px;
	}
	.tick{
		position: absolute;
    bottom: 5px;
    right: 5px;
    z-index: 5;
    padding: 8px;
    border-radius: 50%;
    background-color: rgba(0,0,0,0.7);
	}
}