.play-tiles, .preview-tiles{
	position: relative;
	text-align: center;
	width: 100%;
	left: 0;
	right: 0;
	margin: 40px auto;
	&:after{
		content: '';
		display: table;
		clear: both;
	}
	.tile{
		position: relative;
		width: 50%;
		float: left;
		padding: 4px;
		will-change: transform opacity;
		transition-duration: 300ms;
		transition-property: transform opacity;
	}
	.pic{
		border: 4px solid #455A64;
		box-shadow: 0px 0px 8px #111;
		border-radius: 3px;
		width: 100%;
		background-size: cover;
		background-position: center;
	}
	.level{
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		top: 0;
		margin: auto;
	}
	.mdl-typography--title{
		font-size: 14px;
	}
}

.preview-tiles{
	max-width: 300px;
	.pic{
		height: 15%;
	}
}

.play-tiles{
	max-width: 400px;
	min-width: 320px;
	.tile{
		width: 50%;
	}
	.pic{
		height: 20%;
	}
	.large.tile{
		z-index: 2;
	}
	.large.tile:nth-child(1) {
		transform: translate3d(50%, 50%, 0) scale(1.8);
	}
	.large.tile:nth-child(2) {
		transform: translate3d(-50%, 50%, 0) scale(1.8);
	}
	.large.tile:nth-child(3) {
		transform: translate3d(50%, -50%, 0) scale(1.8);
	}
	.large.tile:nth-child(4) {
		transform: translate3d(-50%, -50%, 0) scale(1.8);
	}
}

@media (min-width: 800px) {
	.preview-tiles{
		.pic{
			height: 120px;
		}
	}
	.play-tiles{
		.pic{
			height: 160px;
		}
	}
}