.play-tiles, .preview-tiles{
	position: relative;
	text-align: center;
	width: 210px;
	left: 0;
	right: 0;
	margin: 50px auto;
	&:after{
		content: '';
		display: table;
		clear: both;
	}
	.tile{
		position: relative;
		width: 105px;
		float: left;
		padding: 4px;
	}
	.pic{
		border: 4px solid #455A64;
		box-shadow: 0px 0px 8px #111;
		border-radius: 3px;
		width: 100%;
		height: 67px;
	}
	.level{
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		top: 0;
		margin: auto;
		display: flex;
		justify-content: center;
		align-items: center;
		color: #000;
		width: 40px;
		height: 40px;
		border-radius: 50%;
		background-color: #FFD600;
		box-shadow: 0px 0px 8px 4px #fff;
	}
	.mdl-typography--title{
		font-size: 14px;
	}
}
.play-tiles{
	width: 100%;
	max-width: 400px;
	min-width: 320px;
	.tile{
		width: 50%;
	}
	.pic{
		height: auto;
	}
}