<html>
	<head>
		<meta name="viewport" content="initial-scale=1, maximum-scale=1">
		<title>Admin app</title>
		<meta name="viewport" content="initial-scale=1, maximum-scale=1">
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.indigo-pink.min.css">
		<link rel="stylesheet" href="{{admincss}}">
	</head>
	<body>
		<div id="app"></div>
		<script src="{{vendorjs}}"></script>
		<script src="{{adminjs}}"></script>
	</body>
</html>