<html>
	<head>
		<title>Guess</title>
		<link rel="manifest" href="/manifest/manifest.json">
		<link rel="apple-touch-icon" sizes="57x57" href="/images/apple-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="60x60" href="/images/apple-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="72x72" href="/images/apple-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="/images/apple-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="/images/apple-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="/images/apple-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="/images/apple-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="/images/apple-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="/images/apple-icon-180x180.png">
		<link rel="icon" type="image/png" sizes="192x192"  href="/images/android-icon-192x192.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="96x96" href="/images/favicon-96x96.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
		<link rel="manifest" href="/manifest.json">
		<meta name="viewport" content="initial-scale=1, maximum-scale=1">
		<meta name="mobile-web-app-capable" content="yes">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
		<meta name="theme-color" content="#ffffff">
		<style>
			{{{usercss}}}
		</style>
		{{#addPolyfill}}
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dialog-polyfill/0.4.7/dialog-polyfill.min.css">
			<script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/dialog-polyfill/0.4.7/dialog-polyfill.min.js"></script>
		{{/addPolyfill}}
		<script src="/public/js/{{vendorjs}}" defer></script>
		<script src="/public/js/{{userjs}}" defer></script>
		<script src="/public/js/{{analyticsjs}}" defer></script>
	</head>
	<body>
		<div id="app">
			<div class="mdl-layout__container">
				<div class="mdl-layout mdl-js-layout is-small-screen is-upgraded">
					<div class="screen-home">
						<div class="dummy-splash">
							<div class="logo-container">
								<img src='/images/logo.svg' alt="guess logo" class='logo'/>
							</div>
							<div class="loading" >
								<noscript>Javascript is needed for this game</noscript>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script>
			window.firebaseConfig = {
				"apiKey": "AIzaSyCRJlnu9RyOmtAjz_bq86bxtr6V5XJ9IPs",
				"authDomain": "guess-ed75a.firebaseapp.com",
				"messagingSenderId": "678578574774"
			};
			if ('serviceWorker' in navigator) {
				 navigator.serviceWorker.register('/sw.js', {scope: '/'}).then(reg=>{
					 window.swReg = reg;
					 console.log("Service worker registered");
				 });
			 }
			 loadCss = function (href){var doc=window.document;var ss=doc.createElement("link");var ref;var collection=window.document.getElementsByTagName("style");var ref=collection[collection.length-1];var sheets=doc.styleSheets;ss.rel="stylesheet";ss.href=href;ss.media="only x";function ready(cb){if(doc.body){return cb()}setTimeout(function(){ready(cb)})}ready(function(){ref.parentNode.insertBefore(ss,ref.nextSibling)});var onloadcssdefined=function(cb){var resolvedHref=ss.href;var i=sheets.length;while(i--){if(sheets[i].href===resolvedHref){return cb()}}setTimeout(function(){onloadcssdefined(cb)})};function loadCB(){if(ss.addEventListener){ss.removeEventListener("load",loadCB)}ss.media="all"}if(ss.addEventListener){ss.addEventListener("load",loadCB)}ss.onloadcssdefined=onloadcssdefined;onloadcssdefined(loadCB);return ss}
			 loadCss('https://fonts.googleapis.com/icon?family=Material+Icons');
			 loadCss('https://fonts.googleapis.com/css?family=Roboto:300,400,500');
			 loadCss('https://code.getmdl.io/1.3.0/material.teal-red.min.css');
		</script>
	</body>
</html>