.control-imagechooser{
	display: inline-block;
	margin: 8px;
	position: relative;
}
.control-imagechooser .img-thumb{
	display: inline-block;
	background-size: cover;
	height: 125px;
	width: 192px;
}
.control-imagechooser .tick{
	position: absolute;
	bottom: 5px;
	right: 5px;
	z-index: 5;
	padding: 8px;
	border-radius: 50%;
	background-color: rgba(0,0,0,0.7);
}.q{
	font-size: 20px;
}
.sendButton{
	position: fixed;
	bottom: 16px;
	right: 16px;
	z-index: 2;
}
.progress .mdl-progress{
	margin: auto;
	z-index: 5;
}
.chosen-toast{
	background-color: #333;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	text-align: left;
	padding: 9px;
}
.chosen-toast .mdl-textfield:placeholder{
	color: #aaa;
}html{
	padding: 0;
	margin: 0;
	text-align: center;
}

input{
	outline: 0px;
}