.guessed-word{
    max-width: 400px;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    padding-left: 8px;
    margin-bottom: 16px;
    justify-content: center;
    .blank{
        display: flex;
        width: 40px;
        height: 40px;
        border-bottom: 1px solid #fff;
        margin-right: 8px;
        justify-content: center;
        align-items: center;
        font-size: 24px;
    }
}