header{
    display: flex;
    height: 10vh;
    background-color: #222;
    box-shadow: 0 5px 8px -2px rgba(105, 104, 104, 0.84);
    z-index: 2;
    .settings{
        flex: 2;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        .mdl-button{
            width: 64px;
            height: 64px;
        }
    }
    .logo {
        flex: 4;
        display: flex;
        align-self: center;
        justify-content: center;
    }
    .coins {
        display: flex;
        flex: 2;
        align-items: center;
        justify-content: flex-end;
    }
    .userCoins{
        display: inline-block;
        padding: 8px;
        padding-right: 16px;
        vertical-align: middle;
        font-size: 16px;
        font-weight: 300;
    }
}
