.platter{
    max-width: 400px;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    .letters{
        flex: 6;
    }
    .hints{
        flex: 1;
    }
    .letter{
        display: inline-block;
        font-weight: 700;
        padding: 8px;
        width: 16.66%;
        .tap{
            border: 3px solid #ccc;
            border-radius: 3px;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 40px;
        }
    }
    .hints{
        .letter{
            width: 100%;
            .tap{
                background-color: #4CAF50;
                border-color: #2E7D32;
            }
        }
    }
}